@import 'initialization.scss';
header {
  visibility: none;
  height: 100vh;
  width: 100%;
  background-image: url(../images/bee.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .admin-login-wrapper {
    width: 300px;
    height: 350px;
    margin-right: 10%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $light-black;
    display: flex;
    align-items: center;
    justify-content: center;

    .admin-login {
      height: 270px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .avatar {
        @include flex-center;
        width: 100px;
        height: 100px;
        justify-content: space-around;
        text-align: center;
        p{
          color: $light-black;
          font-weight: lighter;
          letter-spacing: 2px;
        }
        
        img {
          width: 50px;
        }
        
      }

      //avatar css

      form {
        display: flex;
        height: 120px;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        .admin {
          padding: 5px;
          color: $light-black;

          input {
            border: 0;
            margin-left: 10px;
            background: none;
            
          }

          input:focus {
            outline: none;
          }
        }

        .password {
          border: 1px solid $light-black;
          padding: 5px;
          color: $light-black;

          input {
            border: 0;
            margin-left: 10px;
          }

          input:focus {
            outline: none;
          }
        }

        //password css

        button {
          background-color: $light-black;
          border: none;
          border-radius: 7px;
          padding: 5px 20px;
          color: $dark-gray;
          transition: .5s;
          cursor: pointer;
        }

        button:hover {
          background-color: $dark-gray;
          color: $light-black;
        }
      }

      //form css

    }

    //admin-login css
  }

  //admin-login-wrapper-css


}