@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$primary-color:#ff7f00;
$light-black:#8d8d8d;
$dark-gray:#393939;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Roboto',
  sans-serif;
}

@mixin hive-wrapper {
  transform: translateX(100%);
  transition: .5s;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffa51d;
}
@mixin flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin button{
  button {
    background: none;
    border: none;
    background-color: $primary-color;
    padding: 5px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    transition: .5s;
    cursor: pointer;
  }

  button:hover {
    background-color: #ff9d3b;
  }
}
.title-line {
  height: 5px;
  width: 50px;
  background-color: $primary-color;
  margin: 10px 0;
}
.title-line-small {
  height: 2px;
  width: 20px;
  background-color: $primary-color;
  margin: 10px 0;
}