@import 'initialization.scss';
@import 'header.scss';
main{
  width: 100%;
  min-height: 100vh;
  background-color: white;
  .admin-account-wrapper{
    height: 70px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    .admin-account{
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 17px;
      color: $dark-gray;
      .admin-name{
        transition: .5s;
      }
      p{
        letter-spacing: 3px;
      }
      a{
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }//admin-account-wrapper css
  .admin-settings-wrapper{
    transition: .8s;
    transition-timing-function: cubic-bezier(0.26, 0.15, 0.43, 1.30);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 10%;
    left: 35%;
    height: 350px;
    width: 500px;
    padding: 30px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    z-index: 3;
    box-shadow: 2px 2px 5px $light-black;
    .close-window{
      background:none;
      border:none;
      position: relative;
      top: -20px;
      left: 100%;
      cursor: pointer;
    }
    .admin-settings{
      form{
        hr{
          margin-bottom: 10px;
        }
        .admin-name{
          display: flex;
          flex-direction: column;
          align-items: center; 
          .admin-icon{
            font-size:50px;
            color: $light-black;
            margin-bottom: 10px;
          }
          a{
            font-size: 14px;
          }   
        }
        .admin-change-name-wrapper{
          overflow: hidden;
          .admin-change-name{
          transition: .5s;
          transform: translateY(-50px);
          margin: 10px;
          text-align: center;
            input{
              padding: 2px;
            }
            @include button;
            a{
              font-size: 13px;
            }
          }
        }//admin-change-name-wrapper css end

        .security-questions{
          .title{
            font-weight: bold;
            letter-spacing: 2px;
          }
          p{
            font-size: 14px;
          }
        }
        .select-questions-wrapper{
          margin: 10px;
          overflow: hidden;
          .select-question{
            transform: translateY(-200%);
            transition: .5s;
            @include button;
          }
          p{
            font-size: 14px;
          }
          a {
            font-size: 13px;
          }
          select{
            margin: 5px 0;
          }
        }//select-questions-wrapper css end

        .change-password-button{
          font-size: 14px;
          margin-bottom: 10px;
        }
        .change-password-wrapper{
          overflow: hidden;
          .change-password{
            transform: translateY(-100%);
            transition: .5s;
            .error{
              font-size: 13px;
              color: rgb(255, 50, 50);
            }
            input{
              margin:5px 0;
            }
             @include button;
             a{
               font-size: 14px;
             }
          }
        }
        .logout-btn{
          position: relative;
          top: -20px;
          left: 90%;
          background-color:rgb(255, 50, 50);
          border: none;
          padding: 5px;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          transition: .5s;
        }
        .logout-btn:hover{
          background-color:rgb(253, 99, 99);
        }
        }//form css end
      }
    }

  .hive-wrapper {
    width: 100%;
    height: 100vh;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .hive-buttons{
      .apiary-title{
      font-size: 25px;
      letter-spacing:10px;
      color: $dark-gray;
      margin-bottom: 50px;
    }
    svg{
      g{
        polygon{
          cursor: pointer;
          transition: .5s;
        }
        text{
          pointer-events: none;
        }
      }
    }//svg css
    }
     .hives-windows{
       width: 70%;
        .apiary-image{
          position: fixed;
          top: 0;
          z-index: 2;
          width: 100%;
          opacity: 0;
          pointer-events: none;
          transition: .5s;
          img{
            width: 100%;
          }
          button{
            position: relative;
            top: 30px;
            left: 93%;
            background: none;
            border: none;
            font-size:20px;
            cursor: pointer;
            color: white;
          }
        }//apiary-image css end
        .hive-window-wrappers{
          transition: 1s;
          transition-timing-function: cubic-bezier(0.26, 0.15, 0.43, 1.30);
          width: 100%;
          height: 100%;
          border-left: 2px solid $light-black;
          padding: 20px;
          overflow-y: scroll;
          .hive-title{
            font-size: 20px;
            color: $dark-gray;
            letter-spacing: 5px;
          }
          table{
            color: $dark-gray;
            width: 100%;
            border-spacing: 10px;
            td{
              text-align: center;
              padding: 5px;
              @include button;
            }
            th{
              text-align: center;
              font-size: 18px;
              letter-spacing: 2px;
              font-weight: lighter;
              padding-bottom: 10px;
              
            }

          }
          
        }
        .hive-1-wrapper {
          transform: translateX(200%);
          right: 0;
          position: relative;
    
        }
        .hive-2-wrapper {
          transform: translateX(200%);
          right: 0;
          top: -100%;
          position: relative;
      
        }
     }
      
      
    
  }
  
}
.about-wrapper{
  height: 100vh;
  width: 100%;
  background-image: url(../images/bee-bg0000.png);
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 100px;
  .about{
    padding: 0 100px;
    .left-content{
      color: $dark-gray;
      h1{
        font-size: 80px;
        letter-spacing: 30px;
        font-weight: bolder;;
        margin-bottom: 20px;
        font-family: 'Montserrat',
        sans-serif;
      }
      h2{
        font-weight: lighter;
        letter-spacing: 3px;
        font-size: 20px;
      }
      .paragraph{
        margin-top: 20px;
        width: 600px;
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(240, 240, 240);
        padding: 30px;
        margin: 40px;
      }
    }
  }//about css end
}
.space{
  height: 20vh;
  width: 100%;
  background-color: $primary-color;
}
footer{
  height: 60px;
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(241, 241, 241);
  img{
    width: 200px;
  }
}